<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/home.css">
    <style>

    </style>
  </head>

  <body>

    <nav>
      <div>
         <ul>
           <li><a href="/auth/login">Login</a></li>
           <li><a href="/auth/logout">Logout</a></li>
           <li><a href="/home">Home</a></li>
         </ul>
         <p class="signin">You are logged in as ... [user]</p>
      </div>
      </nav>
      <header>
        <h1>Oauth Template</h1>
        <h2>Home Page</h2>

      </header>
      <main>
        <p>
          A standard Oauth template with views, routes, and ejs
        </p>      
      </main>

    <script src="" async defer></script>
  </body>
</html>